<h1> <%= @employee.full_name %> </h1>

<img height="300px" width="600px" src="<%= @employee.img_url %>" alt="" />

<p> Alias: <%= @employee.alias %> </p>
<p> Title: <%= @employee.title %> </p>
<p> Office: <%= @employee.office %> </p>
<p> Owner: <%= @employee.dog.name %> </p>
